@{
    Layout = "_Layout";
}
@using HW_20211105.Models;
@model HW_20211105.Models.TblMeetingAppointment;

<body>
    <div class="container" style="text-align: center;">
        <div class="row border border-white border-top-1"
             style="vertical-align: middle;font-size: larger;height: 30px;">
            <div class="col-3"></div>
            <div class="col-4">會議預約系統</div>
            <div class="col-4"></div>
        </div>
        <div class="row" style="height: 35%;">
            <div class="col-6 border border-white border-top-1"></div>
            <form action="/Meet/Create" method="post" id="form">
                <div class="col-8 border border-white border-top-1" style="text-align: left;left:15%">
                    <br>
                    <span>會議主題：</span>
                    <input type="text" style="width:75%" asp-for="Subject">
                    <br><br>
                    <span>會議時間：</span>
                    <input type="datetime-local" style="width:31%" asp-for="StartDateTime">
                    <span>　至　</span>
                    <input type="datetime-local" style="width:31%" asp-for="EndDateTime">
                    <br><br>
                    <span style="width: 80px;">會議室：　</span>
                    <select id="" style="width: 25%;" asp-for="RoomId">
                        @foreach (var item in ViewBag.Room as List<TblMeetingRoom>)
                        {
                            <option value="@item.RoomId">@item.Name</option>
                        }
                    </select>
                    <span style="margin-left:20px;">與會人數：</span>
                    <input type="text" style="width: 24%;" asp-for="AttendCount">
                    <hr style="border:2px aliceblue solid">
                    <div style="text-align: right;padding-top: 5px;padding-right: 20px;">
                        <span>申請人：</span>
                        <select id="" style="width:25%" asp-for="BookedBy">
                            @foreach (var item in ViewData["select"] as List<select>)
                            {
                                <option value="@item.value">@item.display</option>
                            }
                        </select>
                    </div>
                    <br>
                    <div style="text-align: right;padding-right: 20px;">
                        <button id="send" type="button" class="button btn-primary">確定申請</button>
                    </div>
                </div>
            </form>
            <div class="col-3 border border-white border-top-1"></div>
        </div>
    </div>

    <script>

        document.getElementById('send').addEventListener('click', function () {
            debugger
            if (document.querySelectorAll('input')[0].value == '') {
                alert('請填寫會議主題');
                return;
            }

            if (document.querySelectorAll('input')[1].value == '') {
                alert('請填寫會議開始時間');
                return;
            }

            if (document.querySelectorAll('input')[2].value == '') {
                alert('請填寫會議結束時間');
                return;
            }

            if (Date.parse(document.querySelectorAll('input')[1].value) > Date.parse(document.querySelectorAll('input')[2].value)) {
                alert('日期格式錯誤');
                return;
            }
            else if (Date.parse(document.querySelectorAll('input')[1].value) < Date.now()) {
                alert('日期格式錯誤');
                return;
            }

            if (document.querySelectorAll('input')[3].value == '') {
                alert('與會人數不得為空');
                return;
            }

            if (document.querySelectorAll('input')[3].value == '0') {
                alert('與會人數不正確');
                return;
            }

            if (/\D{1}/.test(document.querySelectorAll('input')[3].value)) {
                alert('與會人數填寫格式不正確');
                return;
            }

            alert('會議室已預約');

            document.getElementById('form').submit();

            //var x = document.getElementById('form');

            //var request = new XMLHttpRequest();
            //request.open("post", "/Meet/Insert");
            //request.onload = x;
            //request.send();

            //location.reload();

        })
    </script>
</body>